In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
df = pd.read_csv('filmtv_movies.csv')
df.head()

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,8.00,7.0,22,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6.00,7.0,4,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,6.00,5.0,9,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8.00,6.0,18,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5.33,7.0,15,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40303 entries, 0 to 40302
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   filmtv_id     40303 non-null  int64
 1   title         40303 non-null  object
 2   year          40303 non-null  int64
 3   genre         40208 non-null  object
 4   duration      40303 non-null  int64
 5   country       40292 non-null  object
 6   directors     40270 non-null  object
 7   actors        38251 non-null  object
 8   avg_vote      40303 non-null  float64
 9   critics_vote  35703 non-null  float64
 10  public_vote   39829 non-null  float64
 11  total_votes   40303 non-null  int64
 12  description   38848 non-null  object
 13  notes         18456 non-null  object
 14  humor         40303 non-null  int64
 15  rhythm        40303 non-null  int64
 16  effort        40303 non-null  int64
 17  tension       40303 non-null  int64
 18  erotism       40303 non-null  int64
dtypes: float64(3), int64(9), object(7)
memory usage: 5.8+ MB

In [37]:
df.isnull().sum()

filmtv_id           0
title               0
year                0
genre              95
duration            0
country            11
directors          33
actors           2052
avg_vote            0
critics_vote     4600
public_vote       474
total_votes         0
description      1455
notes           21847
humor               0
rhythm              0
effort              0
tension             0
erotism             0
dtype: int64

In [38]:
# Drop columns 'description' and 'notes' 
df.drop(['description', 'notes'], axis=1, inplace=True)
# Drop rows of columns 'actors', 'public_votes' and 'critics_votes' with null values
df.dropna(subset=['actors', 'public_vote', 'critics_vote'], inplace=True)
df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33531 entries, 1 to 40294
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   filmtv_id     33531 non-null  int64
 1   title         33531 non-null  object
 2   year          33531 non-null  int64
 3   genre         33457 non-null  object
 4   duration      33531 non-null  int64
 5   country       33525 non-null  object
 6   directors     33512 non-null  object
 7   actors        33531 non-null  object
 8   avg_vote      33531 non-null  float64
 9   critics_vote  33531 non-null  float64
 10  public_vote   33531 non-null  float64
 11  total_votes   33531 non-null  int64
 12  humor         33531 non-null  int64
 13  rhythm        33531 non-null  int64
 14  effort        33531 non-null  int64
 15  tension       33531 non-null  int64
 16  erotism       33531 non-null  int64
dtypes: float64(3), int64(9), object(5)
memory usage: 4.6+ MB